:root {
    /* https://colorhunt.co/palette/f3feb8ffde4dffb22cff4c4c */
    --color-light: #F3FEB8;
    --color-yellow: #FFDE4D;
    --color-orange: #FFB22C;
    --color-red: #FF4C4C;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-light);
    margin: 0;
    padding: 20px;
}

header {
    background-color: #FFDE4D;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #FF4C4C;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FFB22C;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: black;
    font-size: 1.5em;
    margin-bottom: 15px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-yellow);
    color: var(--color-red);
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-orange);
}

.output-group {
    margin-top: 15px;
    font-weight: bold;
}
